body {
    text-align: center;
}
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #80ffa0;
    background-image: linear-gradient(#60f0f0, #0040b0);

    -moz-border-radius: 5px 40px 5px 40px;
    -webkit-border-radius: 5px 40px 5px 40px;
    border-radius: 5px 40px 5px 40px;

    -moz-box-shadow: rgb(0,50,100) 6px 8px 2px;
    -webkit-box-shadow: rgb(0,50,100) 6px 8px 2px;
    box-shadow: rgb(0,50,100) 6px 8px 2px;
}
#titulo {
    font: bold 36px verdana, sans-serif;
    text-shadow: rgb(0,50,100) 3px 3px 5px;
    color: #ffb000;
}
